@import "tailwindcss";

@theme {
  --color-dark-green: hsl(121, 100%, 21%);
  --color-light-green: hsl(121, 100%, 40%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 85%);
  --color-dark-overlay: hsla(0, 0%, 0%, 0.5);
  --color-grey-nav-overlay: hsla(0, 0%, 84%, 32%);
  --color-dark-gray: hsl(0, 0%, 75%);
  --color-light-gray: hsl(0, 2%, 89%);
  --color-brownish-gray: hsl(0, 2%, 51%);

  --shadow-container: 1px 0px 13px -4px rgba(0, 0, 0, 0.25);
}

@layer base {
  body {
    background-color: var(--color-white);
    font-family: "Geist", sans-serif;
  }
  .input-field {
    font-family: "Inter", sans-serif;
  }
  button {
    @apply lg:cursor-pointer;
  }
}
@layer components {
  .green-btn {
    @apply bg-dark-green rounded-md px-10 py-2 text-white lg:text-2xl text-lg hover:bg-light-green;
  }
  #primary-navigation .nav-link.active {
    @apply text-light-green lg:text-dark-green lg:border-2 lg:rounded-4xl lg:bg-grey-nav-overlay lg:border-black;
  }
  .nav-link {
    @apply lg:px-6 lg:py-1.5 hover:text-light-green;
  }
  .tools-btn {
    @apply border-2 border-dark-green flex hover:bg-light-green flex-col lg:gap-2 items-center w-full p-2 justify-center cursor-pointer rounded-xl;
  }
  .about-offer li {
    @apply list-disc mx-4;
  }
  #sidebar-navigation .nav-link {
    @apply flex items-center gap-2 relative rounded-md px-3 hover:bg-dark-gray py-3;
  }
  #sidebar-navigation .nav-link::before {
    content: "";
    @apply absolute hidden w-1.5 h-8 -left-0.5 bg-dark-green rounded-full;
  }
  #sidebar-navigation .nav-link.active {
    @apply bg-dark-gray;
  }
  .unit-option::before {
    content: "";
    @apply absolute hidden w-1 h-6 -left-[1px] bg-dark-green rounded-full;
  }
  #sidebar-navigation .nav-link.active::before,
  .unit-option.active::before {
    @apply block;
  }
  .keypad button {
    font-family: "Inter", sans-serif;
    @apply bg-gray hover:bg-dark-gray text-2xl flex items-center justify-center p-2 lg:px-20 lg:text-4xl;
  }
  .summary-btn {
    @apply py-3 px-10 text-lg lg:text-2xl rounded-lg gap-2 justify-center flex items-center;
  }
  .sign-input {
    @apply border-1 border-light-gray placeholder:text-brownish-gray text-lg rounded-lg py-2 px-4;
  }
  .green-to-transparent {
    @apply border-2 border-transparent text-white bg-dark-green lg:hover:border-dark-green lg:hover:bg-transparent lg:hover:text-dark-green;
  }
}
